<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentInformation.Properties.Settings.SISCConnectionString"
            connectionString="Data Source=SISC-CRUSADERS;Initial Catalog=SISC;User ID=romyrr;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>